*.*log
*.html
*.txt
*.cvs
*.xrpt
*.exe
isim*
*.xml
#*.bld
*.par
*.mrp
*.pad
_*
*~
xst
*.prj
*.tw?
*.ng?
fuse*
*.ncd
*.tcl
.g*
*.ini
*.stx
*.unroutes
*.x*
*.pcf
*.csv
*.bgn
*.lso
*.gise
*.map
*.wdb
*.bak
*.old
*.pui
*.sh
*.bu
classicHp*
classichp*
archive
bu_*
prog_bin

planAhead*
!*.vhd
!*.ucf
!*.bit
!*.ut
!classicHp.prj
!classicHp.xst
